<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytc.mapper.BalanceMapper" >
  <resultMap id="BaseResultMap" type="com.ytc.model.Balance" >
    <id column="balanceid" property="balanceid" jdbcType="INTEGER" />
    <result column="balanceprice" property="balanceprice" jdbcType="DOUBLE" />
    <result column="suserid" property="suserid" jdbcType="INTEGER" />
  </resultMap>

  <select id="select" resultMap="BaseResultMap">
     select * from balance where suserid=#{suserid}
  </select>

  <update id="tixian">
    update balance set balanceprice=balanceprice-#{money} where suserid=#{suserid}
  </update>

  <insert id="add">
    insert into balance values(balanceid,0,#{id});
  </insert>
</mapper>