<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../js/jquery.min.js"></script>
<body background="../jpg/48.jpg">
<h1 align="center">物流交易平台</h1>
<h2>当前登录用户:<a th:text="${suser.susername}"></a>&nbsp;&nbsp;&nbsp;<a href="#" th:onclick="toLogin()">注销</a></h2>
</body>
<script>

    function toLogin(){
        $.ajax({
            url:"/suser/noLogin",
            type:"post",
            success:function (data){
                top.location.href="/logistics/index";
            },error:function (){
                alert("注销失败");
            }
        })
    }
</script>
</html>