<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytc.mapper.BillMapper" >
  <resultMap id="BaseResultMap" type="com.ytc.model.Bill" >
    <id column="billid" property="billid" jdbcType="INTEGER" />
    <result column="billdealid" property="billdealid" jdbcType="VARCHAR" />
    <result column="billdate" property="billdate" jdbcType="TIMESTAMP" />
    <result column="billtype" property="billtype" jdbcType="INTEGER" />
    <result column="suserid" property="suserid" jdbcType="INTEGER" />
  </resultMap>

</mapper>