<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytc.mapper.FreightcalculationMapper" >
  <resultMap id="BaseResultMap" type="com.ytc.model.Freightcalculation" >
    <id column="calculationid" property="calculationid" jdbcType="INTEGER" />
    <result column="calculationweight1" property="calculationweight1" jdbcType="INTEGER" />
    <result column="calculationweight2" property="calculationweight2" jdbcType="INTEGER" />
    <result column="calculationprice" property="calculationprice" jdbcType="DOUBLE" />
    <result column="suserid" property="suserid" jdbcType="INTEGER" />
  </resultMap>

</mapper>