<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../js/jquery.min.js"></script>
<body>
</br></br></br></br></br></br></br></br>
<center>
    <h2 style="color: blue">欢迎注册</h2>
<form id="regForm">
    <table border="1">
        <tr>
            <td><font th:size="5">用户名:</font></td>
            <td><input type="text" id="bossname" name="bossname"placeholder="请输入用户名"><span id="sp1"></span></td>
        </tr>
        <tr>
            <td><font th:size="5">密码:</font></td>
            <td><input type="password" id="bosspwd" name="bosspwd" placeholder="请输入密码"><span id="sp2"></span></td>
        </tr>
        <tr>
            <td><font th:size="5">确认密码:</font></td>
            <td><input type="password" id="bosspwd1"  name="bosspwd1" placeholder="请确认密码"><span id="sp3"></span></td>
        </tr>
    </table>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" id="zhuce" value="注册">
</form>
</center>
</body>
<script>
    $("#zhuce").click(function () {
        var bossname=$("#bossname").val();
        var bosspwd=$("#bosspwd").val();
        var bosspwd1=$("#bosspwd1").val();
        if(bossname!=null&&bossname!=""){
            $("#sp1").html("");
            if(bosspwd!=null&&bosspwd!=""){
                $("#sp2").html("");
                if(bosspwd1!=null&&bosspwd1!=""){
                    if(bosspwd==bosspwd1){
                        $("#sp3").html("");
                        $.ajax({
                            url:"/boss/reg",
                            type:"post",
                            data:$("#regForm").serialize(),
                            dataType:"json",
                            success:function (data) {
                                if(data=="1"){
                                    alert("注册成功");
                                    location.href="/logistics/bossLogin";
                                }
                                if(data=="2"){
                                    alert("用户名已存在");
                                }
                            },error:function (){
                                alert("注册失败");
                            }
                        })
                    }else {
                        $("#sp3").html("<font color='red'>两次密码不一致</font>");
                    }
                }else {
                    $("#sp3").html("<font color='red'>确认密码不能为空</font>");
                }
            }else {
                $("#sp2").html("<font color='red'>密码不能为空</font>");
            }
        }else {
            $("#sp1").html("<font color='red'>用户名不能为空</font>");
        }
    })
</script>

</html>