<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../js/jquery.min.js"></script>
<body>
当前账户余额:<a th:text="${balance.balanceprice}+元"></a><br>
余额提现:<input type="text" name="money" id="billprice"><input type="button" value="提现" th:onclick="'javascript:totixian()'"><br>
<table border="1">
    <tr>
        <td>id</td>
        <td>交易号</td>
        <td>交易时间</td>
        <td>收支类型</td>
        <td>金额</td>
    </tr>
    <tr th:each="b:${page.list}">
        <td th:text="${b.billid}">id</td>
        <td th:text="${b.billdealid}">交易号</td>
        <td th:text="${b.billdate}">交易时间</td>
        <a th:if="${b.billtype==1}">
            <td th:text="运费收入"></td>
            <td th:text="'+'+${b.billprice}+元">金额</td>
        </a>
        <a th:if="${b.billtype==2}">
            <td th:text="退单退款"></td>
            <td th:text="'-'+${b.billprice}+元">金额</td>
        </a>
        <a th:if="${b.billtype==3}">
            <td th:text="余额提现"></td>
            <td th:text="'-'+${b.billprice}+元">金额</td>
        </a>
    </tr>
</table>
<div th:replace="page::html"/>
</body>
<script>

    function totixian(){
        $.ajax({
            url:"/suser/totixian",
            type:"post",
            dataType:"json",
            success:function(data){
                if(confirm("确定提现到银行卡号为:"+data.suserbankid+"的账户吗?")){
                    tixian();
                }
            },error:function (){
                alert("获取用户信息失败");
            }
        })
    }
    function tixian(){
        var billprice=$("#billprice").val();
        $.ajax({
            url:"/suser/tixian",
            type:"post",
            data:{"billprice":billprice},
            success:function(data){
                location.href="/suser/tobill";
            },error:function (){
                alert("提现失败")
            }
        })
    }
</script>
</html>