<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../js/jquery.min.js"></script>
<body>
   <h1>欢迎注册</h1><!--103-->
   <form id="regForm"  ><!--103-->
      用户名：<input type="text" id="susername" name="susername" onblur="checkName()" placeholder="请输入用户名"><span id="sp1"></span><br>
      密码：<input type="password" id="suserpwd" name="suserpwd" placeholder="请输入密码"><span id="sp2"></span> <br><!--103-->
      确认密码:<input type="password" id="suserpwd1"  name="suserpwd1" placeholder="请确认密码"><span id="sp3"></span> <br><!--103-->
      物流公司名称:<input type="text" id="compoayname" name="compoayname"><span id="sp4"></span><br>
      物流公司电话 :<input type="text" id="compoayiphone" name="compoayiphone"><span id="sp5"></span><br>
      物流公司老板姓名:<input type="text" id="compoaybossname" name="compoaybossname"><span id="sp6"></span><br>
      物流公司地址:<input type="text" id="compoayaddress" name="compoayaddress"><span id="sp7"></span><br>
      银行卡姓名:<input type="text" id="suserbankname" name="suserbankname"><span id="sp8"></span><br>
      银行卡卡号:<input type="text" id="suserbankid" name="suserbankid"><span id="sp9"></span><br>

       <input type="button" id="zhuce" value="注册"><!--103-->
   </form><!--103-->
                            <!--103写完去con-->
</body>
<script>
    $("#zhuce").click(function () {
        var susername=$("#susername").val();
        var suserpwd=$("#suserpwd").val();
        var suserpwd1=$("#suserpwd1").val();
        var compoayname=$("#compoayname").val();
        var compoayiphone=$("#compoayiphone").val();
        var compoaybossname=$("#compoaybossname").val();
        var compoayaddress=$("#compoayaddress").val();
        var suserbankname=$("#suserbankname").val();
        var suserbankid=$("#suserbankid").val();

        if(susername!=null&&susername!=""){
            $("#sp1").html("");
            if(suserpwd!=null&&suserpwd!=""){
                $("#sp2").html("");
                if(suserpwd1!=null&&suserpwd1!=""){
                    if(suserpwd==suserpwd1){
                        $("#sp3").html("");
                        if(compoayname!=null&&compoayname!=""){
                            $("#sp4").html("");
                            if(compoayiphone!=null&&compoayiphone!=""){
                                $("#sp5").html("");
                                if(compoaybossname!=null&&compoaybossname!=""){
                                    $("#sp6").html("");
                                    if(compoayaddress!=null&&compoayaddress!=""){
                                        $("#sp7").html("");
                                        if(suserbankname!=null&&suserbankname!=""){
                                            $("#sp8").html("");
                                            if(suserbankid!=null&&suserbankid!=""){
                                                $("#sp9").html("");
                                                $.ajax({
                                                    url:"/suser/reg",
                                                    type:"post",
                                                    data:$("#regForm").serialize(),
                                                    dataType:"json",
                                                    success:function (data) {
                                                        if(data=="1"){
                                                            alert("提交申请入驻成功，请等待审核");
                                                            location.href="/logistics/suserLogin";
                                                        }
                                                        if(data=="2"){
                                                            alert("用户名已存在");
                                                        }
                                                    },error:function (){
                                                        alert("注册失败");
                                                    }
                                                })
                                            }else {
                                                $("#sp9").html("<font color='red'>银行卡号不能为空</font>");
                                            }
                                        }else {
                                            $("#sp8").html("<font color='red'>银行卡姓名不能为空</font>");
                                        }
                                    }else {
                                        $("#sp7").html("<font color='red'>物流公司地址不能为空</font>");
                                    }
                                }else {
                                    $("#sp6").html("<font color='red'>物流公司老板姓名不能为空</font>");
                                }
                            }else {
                                $("#sp5").html("<font color='red'>物流公司电话不能为空</font>");
                            }
                        }else {
                            $("#sp4").html("<font color='red'>物流公司名称不能为空</font>");
                        }
                    }else {
                        $("#sp3").html("<font color='red'>两次密码不一致</font>");
                    }
                }else {
                    $("#sp3").html("<font color='red'>确认密码不能为空</font>");
                }
            }else {
                $("#sp2").html("<font color='red'>密码不能为空</font>");
            }
        }else {
            $("#sp1").html("<font color='red'>用户名不能为空</font>");
        }
    })
</script><!--103-->

</html>